/* Ult */
.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/161183456896876544"]::before {
  content: url(https://i.imgur.com/8IcSFES.png);
}

.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/161183456896876544"]:hover::before {
  content: url(https://i.imgur.com/PNQBllD.gif);
}

.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/161183456896876544"]::after {
  content: "Hello Im 💥ⒶⓀ〰𝖀𝖑𝖙! \a Akatsuki Member Konan. \a 3rd member of the Akatsuki";
}
/* 💥ⒶⓀ〰𝖀𝖑𝖙#2099 */
